<!DOCTYPE html>
<html lang="es">
    <%- include("../layouts/head", { tituloHead }) %>
    <body>
        <!-- header -->
        <%- include("../layouts/header") %>

        <!-- main -->
        <main class="form-style">
            <section>
                <h2>Alta producto</h2>

                <form id="altaForm" novalidate>
                    <!-- input marca -->
                    <div>
                        <label>Marca:</label>
                        <input class="input-normal" id="inputMarca" type="text" name="marca" />

                        <p id="errorMarca" class="oculto errorEstilo">nada</p>
                    </div>

                    <!-- input modelo -->
                    <div>
                        <label>Modelo:</label>
                        <input class="input-normal" id="inputModelo" type="text" name="Modelo" />
                        <p id="errorModelo" class="oculto errorEstilo">nada</p>
                    </div>

                    <!-- input categoria -->
                    <div>
                        <label for="categoria">Categoria:</label>
                        <select name="categoria" id="inputCategoria" size="1">
                            <option disabled selected>Seleccione una opcion</option>

                            <option value="Bajos">Bajos</option>

                            <option value="Guitarras">Guitarras</option>
                        </select>
                        <p id="errorCategoria" class="oculto errorEstilo">nada</p>
                    </div>

                    <!-- input precio -->
                    <div>
                        <label>Precio:</label>
                        <input class="input-normal" id="inputPrecio" type="number" name="precio"" />
                        <p id="errorPrecio" class="oculto errorEstilo">nada</p>
                    </div>

                    <!-- input imagen -->
                    <div>
                        <label>Imagen:</label>
                        <input id="inputImagen" type="file" name="imagen" />
                        <p id="errorImagen" class="oculto errorEstilo">nada</p>
                    </div>

                    <!-- botones -->
                    <div class="div-botones-form">
                        <button id="btnAgregar" type="submit">Agregar</button>
                        <button id="btnCancelar" type="button">Cancelar</button>
                    </div>
                </form>
            </section>

            <div id="modalProductoCreado" class="modal">
                <div class="modal-container">
                    <span id="cerrarModal" class="cerrar-modal">&times;</span>
                    <h4 id="modalTitulo"></h4>
                    <div class="modal-botones">
                        <button id="btnSiConfirmar">Volver</button>
                    </div>
                </div>
            </div>
        </main>

        <!-- footer -->
        <%- include("../layouts/footer") %>

        <script type="module" src="/js/alta.js"></script>
    </body>
</html>
