<!DOCTYPE html>
<html lang="es">
    <%- include("../layouts/head", { tituloHead }) %>
    <body>
        <!-- header -->
        <header class="header-login">
            <div class="div-logo-login">
                <img src="/img/logo/logo.png" alt="Logo" class="logo" />
                <h1>RiffHouse</h1>
                <h2>Administracion</h2>
            </div>
        </header>

        <!-- main -->
        <main class="form-style form-style-login">
            <section>
                <h2>Iniciar sesión</h2>

                <form id="form" novalidate>
                    <div>
                        <label>Email:</label>
                        <input class="input-normal" id="inputEmail" type="email" name="email" required />
                        <p id="errorEmail" class="oculto errorEstilo">nada</p>
                    </div>

                    <div>
                        <label>Contraseña:</label>
                        <input class="input-normal" id="inputPassword" type="password" name="password" required />
                        <p id="errorPassword" class="oculto errorEstilo">nada</p>
                    </div>

                    <div class="div-botones-form">
                        <button id="btnIngresar" type="submit">Ingresar</button>
                        <button id="btnAccesoRapido" type="button">Acceso rapido</button>
                    </div>
                </form>
                <button id="btnIngresarComoCliente">Ingresar como cliente</button>
            </section>
        </main>

        <!-- footer -->
        <%- include("../layouts/footer") %>

        <script type="module" src="/js/login.js"></script>
    </body>
</html>
