<header>
    <div class="div-logo">
        <img src="/img/logo/logo.png" alt="Logo" class="logo" />
        <h1>RiffHouse</h1>
        <h2>Administracion</h2>
    </div>

    <div class="usuario-info">
        <div class="div-usuario-info">
            <img src="/img/logo/userIcon.png" style="width: 20px" alt="" />
            <p><%=nombreUser%></p>
        </div>
        <button id="btnCerrarSesion">Cerrar Sesion</button>
    </div>

    <div class="div-selector-tema"></div>
</header>
