<header id="header">
    <div class="div-logo">
        <img src="/img/logo/logo.png" alt="Logo" class="logo" />
        <h1>RiffHouse</h1>
        <h2>Administracion</h2>
    </div>

    <div id="divTemaUsuario">
        <div class="div-selector-tema">
            <label for="temaSelect">Tema:</label>
            <select id="temaSelect">
                <option value="claro">Claro</option>
                <option value="oscuro">Oscuro</option>
            </select>
        </div>

        <div class="usuario-select">
            <div id="usuarioHeader" class="usuario-header">
                <img src="/img/logo/userIcon.png" />
                <span><%=nombreUser%></span>
                <span>▼</span>
            </div>

            <div id="usuarioMenu" class="usuario-menu oculto">
                <span id="btnCerrarSesion">Cerrar Sesion</span>
            </div>
        </div>
    </div>
</header>
