* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f7f7f7;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ========================== GENERALES ============================= */

button:hover {
    cursor: pointer;
}

/*______________ Header ______________*/
header {
    background-color: #393939;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header img.logo {
    height: 60px;
}

header h1 {
    flex: 1;
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 1rem;
    margin-right: 1rem;
    background: linear-gradient(to top, #bd1d07, #e5e531);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

header .div-selector-tema {
    margin-right: 80px;
    margin-left: 15px;
}

header select {
    width: auto;
    border: none;
    background-color: #393939;
    color: white;
    cursor: pointer;
}

header label {
    font-size: 1rem;
}

header select {
    font-size: 1rem;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.888);
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
}

nav a:hover {
    text-decoration: underline;
}

/* ______________ Main ______________*/
main {
    background-color: #b9b9b9;
    width: 100%;
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ______________ Footer ______________*/
footer {
    background-color: #454545;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* ======================================== LOGIN =============================================== */

#loginDivContainer {
    background-color: rgb(222, 217, 217);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 5px;
    gap: 10px;
    /* width: 30%; */
}

#loginDivContainer button {
    width: 100px;
}

#loginDivContainer button:hover {
    width: 100px;
    background-color: rgb(214, 214, 214);
}

#loginMain h2 {
    margin-bottom: 30px;
    text-align: center;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#loginForm input {
    padding: 5px;
}

#loginForm button {
    /* margin-top: 20px; */
    width: 100px;
}

#btnIngresar {
    margin-top: 20px;
}

#divLabel-Inputs {
    display: flex;
    flex-direction: column;
}

#btnRegistrarse {
    margin-top: 0px;
}
