* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #f7f7f7;
    color: #333;
    display: flex;
    flex-direction: column;
}

/* ========================== GENERALES ============================= */

button,
button:hover,
button:focus {
    border: 0.5px solid;
    outline: none;
    border-radius: 2px;
    padding: 2px;
}

button:hover {
    cursor: pointer;
    /* outline: none; */
}

/*______________ Header ______________*/

/* header general */
header {
    background-color: #393939;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

header .div-logo {
    display: flex;
    flex: 1;
}

header .usuario-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* align-self: flex-end; */
}

header .div-usuario-info {
    background-color: rgb(192, 192, 192);
    color: black;
    display: flex;
    flex-direction: row;
    gap: 4px;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 5px;
    padding: 3px 8px;
}

header .usuario-info p {
    /* margin-top: 3px; */
}

header img.logo {
    height: 60px;
}

header h1 {
    /* flex: 1; */
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 1rem;
    margin-right: 1.2rem;
    margin-top: 3px;
    background: linear-gradient(to top, #bd1d07, #e5e531);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
header div h2 {
    margin-top: 11px;
}

#btnCerrarSesion {
    background-color: rgb(206, 206, 206);
    padding: 3px 8px;
    border-radius: 5px;
}

#btnCerrarSesion:hover {
    background-color: rgb(132, 132, 132);
}

/* header del login */
.header-login {
    background-color: #393939;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

header .div-logo-login {
    display: flex;
    justify-content: center;
}

/* ______________ Main ______________*/
main {
    background-color: #b9b9b9;
    width: 100%;
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    justify-content: flex-start;
    align-items: stretch;
}

/* ______________ Footer ______________*/
footer {
    background-color: #454545;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* ======================================== FORMULARIOS GENERALES =============================================== */

#form div {
    width: 100%;
}

input {
    border: 1px solid transparent;
    border-bottom-width: 2px;
    /* padding: 8px; */
    box-sizing: border-box;
}

select {
    cursor: pointer;
}

/* .form-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.form-style section {
    background-color: rgb(222, 217, 217);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    gap: 10px;
    /* width: 500px; */
}

.form-style section form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: stretch;
    width: 400px;
}

/* botones generales del form */
.form-style section button {
    width: 100px;
}

/* botones generales del form (hover) */
.form-style section button:hover {
    width: 100px;
    background-color: rgb(214, 214, 214);
}

/* titulo del form */
.form-style section h2 {
    margin-bottom: 10px;
    text-align: center;
}

/* form */

/* boton puntual del form */
.form-style form button {
    margin-top: 15px;
    text-decoration: solid;
}

.form-style form label {
    font-weight: 500;
}

/* inputs del form */
.form-style form input {
    padding: 5px;
}

/* divs del form */
.form-style form div {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 4px;
}

/* inputs con error */

.input-normal {
    border-bottom-color: transparent;
    outline: none;
}

.input-error {
    animation: vibrar 0.2s ease;
    outline: 1px;
    border-bottom-color: red;
    border-radius: 5px;
}

/* estado FOCUS */
.input-focus {
    border-bottom-color: black;
}

/* estado BLUR */
.input-blur {
    border-bottom-color: transparent;
}

/* animacion */
@keyframes vibrar {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-4px);
    }
    50% {
        transform: translateX(4px);
    }
    75% {
        transform: translateX(-4px);
    }
    100% {
        transform: translateX(0);
    }
}

/* error oculto */

.oculto {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.errorEstilo {
    color: red;
    font-size: 8px;
}
/* ================================== login ==================================== */

#btnIngresarComoCliente {
    margin-top: 50px;
    width: 238px;
    background-color: #d2d2d2;
}

.form-style-login section form {
    width: 250px;
}

/* ================================== dashboard ==================================== */

.dashboard {
    background-color: #c2c1c1;
    /* padding: 20px; */
    border-radius: 5px;
}

.dashboard h2 {
    text-align: center;
    margin-bottom: 20px;
    /* text-decoration: underline; */
}

.div-alta {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    overflow-x: auto;
}

.div-alta,
.tabla-container {
    max-width: 970px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.btn-alta {
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
    text-decoration: none;
    /* margin-right: 7.5%; */
}

.btn-alta:hover {
    background-color: #459a48;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
    /* transition: transform 0.2s, box-shadow 0.2s; */
    /* rgb(54, 150, 58) */
}

/* tabla */

.tabla-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    width: 100%;
}

.tabla-productos {
    border-collapse: collapse;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-width: 500px;
    max-width: 970px;
    margin-bottom: 40px;
}

th,
td {
    border: 2px solid black;
    padding: 6px 15px;
    word-wrap: break-word;
}

.td-acciones {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.td-acciones button {
    flex: 1;
}

.td-acciones button:hover {
    background-color: rgb(199, 199, 199);
    flex: 1;
}

.green {
    background-color: rgb(209, 255, 212);
}
.red {
    background-color: rgb(255, 208, 208);
}

/* modal dashboard */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
    background-color: #fff;
    margin: 15% auto;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.cerrar-modal {
    color: #aaa;
    position: absolute;
    top: -5px;
    right: 6px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar-modal:hover {
    color: #000;
}

.modal-botones {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.modal-botones button {
    width: 90px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-botones button:hover {
    opacity: 0.8;
}

#btnSiConfirmar {
    background-color: #28a745;
    color: #fff;
}

#btnNoConfirmar {
    background-color: #dc3545;
    color: #fff;
}

/* ================================== editar ==================================== */

.div-botones-form {
    display: flex !important;
    flex-direction: row !important;
    gap: 10px !important;
    margin-top: 10px !important;
}

.div-botones-form button {
    flex: 1;
    padding: 7px 0px;
}

/* ========================================= MEDIA QUERIES ====================================================== */

/* @media (max-width: 1088px) {
    .btn-alta {
        margin-right: 0px;
    }
} */

@media (max-width: 850px) {
    header .usuario-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .form-style section form {
        width: 250px;
    }
}

@media (max-width: 700px) {
    header {
        padding: 0.6rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    header .usuario-info {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    /* header del login */

    header .div-logo-login {
        scale: 0.7;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 560px) {
    header .div-logo {
        flex: auto;
        scale: 0.8;
    }
}

@media (max-width: 460px) {
    header .div-logo {
        flex: auto;
        scale: 0.75;
    }
}

@media (max-width: 420px) {
    header {
        padding: 0.5rem;
        justify-content: center;
        text-align: center;
    }

    header .div-logo {
        flex: auto;
        scale: 0.7;
    }

    .btn-alta {
        padding: 6px 11px;
        font-size: 13px;
    }
}

@media (max-width: 380px) {
    header {
        padding: 0.5rem;
        justify-content: center;
        text-align: center;
    }

    header .div-logo {
        flex: auto;
        scale: 0.6;
        gap: 1px;
    }

    header .usuario-info {
        scale: 0.7;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    header h1 {
        margin-right: 0px;
    }

    header div h2 {
        scale: 0.8;
        margin-top: 11px;
    }
    /* header del login */

    header .div-logo-login {
        scale: 0.6;
        display: flex;
        justify-content: center;
    }
}
