* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* ========================== GENERALES ============================= */

button,
button:hover,
button:focus {
    border: 0.5px solid;
    outline: none;
    border-radius: 2px;
    padding: 2px;
}

button {
    background-color: rgb(207, 207, 207);
}

button:hover {
    cursor: pointer;
    background-color: rgb(103, 100, 100);
    /* outline: none; */
}

/*______________ Header ______________*/

/* header general */
header {
    background-image: url("../img/logo/textura-de-la-pared-del-grunge.jpg");
    background-size: cover;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#divTemaUsuario {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-right: 20px;
}

.header-oscuro {
    background-image: url("../img/logo/fondo-de-textura-grunge-oscuro-con-aranazos-y-manchas.jpg");
    background-size: cover;
    /* background-color: black; */
    color: white;
}

.header-claro {
    /* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/logo/fondo-blanco-header.jpg"); */
    background-image: url("../img/logo/textura-de-la-pared-del-grunge.jpg");
    background-size: cover;
    /* background-color: white; */
    color: black;
}

header .div-logo {
    display: flex;
    flex: 1;
}

header .usuario-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

header .div-usuario-info {
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    flex-direction: row;
    gap: 3px;
    border-radius: 5px;
    padding: 2px 8px;
    font-size: 14px;
    border: solid 1px black;
}

header .div-usuario-info p {
    margin-top: 1px;
}

header img.logo {
    height: 60px;
}

header h1 {
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 1rem;
    margin-right: 1.2rem;
    margin-top: 3px;
    background: linear-gradient(to top, #bd1d07, #e5e531);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
header div h2 {
    margin-top: 11px;
}

#headerLogin.oscuro {
    background-color: black;
    display: flex;
}

#headerLogin.claro {
    background-color: white;
    color: black;
}
/* header del login */
.header-login {
    display: flex;
    flex-direction: row;
    /* background-color: #393939; */
    /* color: #fff; */
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.header-login select {
    margin-right: 20px;
}

.div-logos {
    display: flex;
    flex-direction: row;
}
.div-selector-tema {
    display: flex;
    flex-direction: row;
    gap: 5px;
    /* flex: 1; */
}

.footer-oscuro {
    background-image: url("../img/logo/fondo-de-textura-grunge-oscuro-con-aranazos-y-manchas.jpg");
    background-size: cover;
    /* background-color: black; */
    color: white;
}

.footer-claro {
    background-image: url("../img/logo/textura-de-la-pared-del-grunge.jpg");
    background-size: cover;
    /* background-color: white; */
    color: black;
}

/* ================================== login ==================================== */

#btnIngresarComoCliente {
    margin-top: 50px;
    width: 238px;
    background-color: #d2d2d2;
}

#loginMain.claro {
    background-color: rgb(196, 196, 196);
}

#loginMain.claro section {
    background-color: rgb(218, 218, 218);
}

#loginMain.oscuro {
    background-color: rgb(0, 0, 0);
}

#loginMain.oscuro section {
    background-color: rgb(35, 35, 35);
    color: white;
}

#loginMain.oscuro p {
    /* background-color: rgb(35, 35, 35); */
    color: rgb(255, 93, 93);
}

#loginMain.oscuro section form input {
    background-color: rgb(35, 35, 35);
    color: white;
    border: solid 1px grey;
    border-radius: 3px;
}

#loginMain.oscuro section form select {
    background-color: rgb(35, 35, 35);
    color: white;
    border: solid 1px grey;
}

/*  */
.form-style-login section form {
    width: 250px;
}

/* ================================== dashboard ==================================== */

.dashboard.claro {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    background-color: rgb(216, 216, 216);
}

.dashboard.oscuro {
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    background-color: rgb(42, 42, 42);
    border-radius: 0%;
}

.dashboard {
    /* background-color: #c2c1c1; */
    border-radius: 5px;
}

.dashboard h2 {
    text-align: center;
    margin-bottom: 20px;
}

.div-alta {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    overflow-x: auto;
}

.div-alta,
.tabla-container {
    max-width: 970px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.btn-alta {
    padding: 10px 15px;

    background-color: #4caf50;
    color: white;
    border-radius: 4px;
    text-decoration: none;
}

.btn-alta:hover {
    background-color: #459a48;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
}

/* _______ tabla ______*/

.tabla-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    width: 100%;
}

.tabla-productos {
    border-collapse: collapse;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    width: 100%;
    min-width: 500px;
    max-width: 970px;
    margin-bottom: 40px;
}

.tabla-productos-claro {
    background-color: rgb(218, 218, 218);
}

.tabla-productos-oscuro {
    background-color: rgb(0, 0, 0);
    color: white;
    border: solid 1px rgb(139, 139, 139);
}

.tabla-productos-oscuro th {
    /* background-color: rgb(0, 0, 0); */
    /* color: white; */
    border: solid 1px rgb(139, 139, 139);
}

.tabla-productos-oscuro button {
    background-color: rgb(54, 54, 54);
    color: rgb(159, 159, 159);
}

.tabla-productos-oscuro button:hover {
    background-color: rgb(73, 73, 73) !important;
    color: rgb(150, 150, 150);
}

.trProd.claro-activo {
    background-color: rgb(173, 219, 176);
    color: rgb(0, 0, 0);
}

.trProd.claro-inactivo {
    background-color: rgb(218, 186, 186);
    color: black;
}

.trProd.oscuro-activo {
    background-color: rgba(46, 46, 46, 0.5);
    border: 1px solid white;
    color: rgb(111, 255, 111);
}

.trProd.oscuro-inactivo {
    background-color: rgba(46, 46, 46, 0.5);
    border: 1px solid white;
    color: rgb(255, 97, 97);
}

.trProd.oscuro-activo td {
    border: 1px solid rgb(139, 139, 139);
}

.trProd.oscuro-inactivo td {
    border: 1px solid rgb(139, 139, 139);
}

th,
td {
    border: 2px solid black;
    padding: 6px 15px;
    word-wrap: break-word;
}

.td-acciones {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.td-acciones button {
    flex: 1;
    border-radius: 3px;
}

.td-acciones button:hover {
    background-color: rgb(199, 199, 199);
    flex: 1;
}

.green {
    background-color: rgb(209, 255, 212);
}
.red {
    background-color: rgb(255, 208, 208);
}

/* modal dashboard */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
    background-color: #fff;
    margin: 15% auto;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.cerrar-modal {
    color: #aaa;
    position: absolute;
    top: -5px;
    right: 6px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar-modal:hover {
    color: #000;
}

.modal-botones {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.modal-botones button {
    width: 90px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-botones button:hover {
    opacity: 0.8;
}

#btnSiConfirmar {
    background-color: #28a745;
    color: #fff;
}

#btnNoConfirmar {
    background-color: #dc3545;
    color: #fff;
}

/* ================================== editar ==================================== */

#editarMain.claro {
    background-color: rgb(196, 196, 196);
}

#editarMain.oscuro {
    background-color: rgb(0, 0, 0);
}

#editarMain.claro section {
    background-color: rgb(218, 218, 218);
}

#editarMain.oscuro section {
    background-color: rgb(35, 35, 35);
    color: white;
}

#editarMain.oscuro p {
    /* background-color: rgb(35, 35, 35); */
    color: rgb(255, 93, 93);
}

#editarMain.oscuro section form input {
    background-color: rgb(35, 35, 35);
    color: white;
    border: solid 1px grey;
    border-radius: 3px;
}

#editarMain.oscuro section form select {
    background-color: rgb(35, 35, 35);
    color: white;
    border: solid 1px grey;
}

/*  */

.div-botones-form {
    display: flex !important;
    flex-direction: row !important;
    gap: 15px !important;
    margin-top: 10px !important;
}

.div-botones-form button {
    flex: 1;
    padding: 7px 0px;
}

/* ================================== alta ==================================== */

#altaMain.claro {
    background-color: rgb(196, 196, 196);
}

#altaMain.claro section {
    background-color: rgb(218, 218, 218);
}

#altaMain.oscuro {
    background-color: rgb(0, 0, 0);
}

#altaMain.oscuro section {
    background-color: rgb(35, 35, 35);
    color: white;
}

#altaMain.oscuro p {
    /* background-color: rgb(35, 35, 35); */
    color: rgb(255, 93, 93);
}

#altaMain.oscuro section form input {
    background-color: rgb(35, 35, 35);
    color: white;
    border: solid 1px grey;
    border-radius: 3px;
}

#altaMain.oscuro section form select {
    background-color: rgb(35, 35, 35);
    color: white;
    border: solid 1px grey;
}
/* ======================================== FORMULARIOS GENERALES =============================================== */

#form div {
    width: 100%;
}

input {
    border: 1px solid transparent;
    border-bottom-width: 2px;
    box-sizing: border-box;
}

#inputImagen {
    margin-left: -6.5px;
    padding: 5px;
}

#inputCategoria {
    padding: 5px;
    border: none;
}

select {
    cursor: pointer;
}

.form-style section {
    /* background-color: rgb(216, 216, 216); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    gap: 10px;
}

.form-style section.oscuro {
    background-color: rgb(154, 154, 154);
}

.form-style section.claro {
    background-color: rgb(222, 217, 217);
}

.form-style section form {
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: stretch;
    width: 400px;
}

/* botones generales del form */
.form-style section button {
    width: 100px;
}

/* botones generales del form (hover) */
.form-style section button:hover {
    width: 100px;
    background-color: rgb(173, 173, 173);
}

/* titulo del form */
.form-style section h2 {
    margin-bottom: 1px;
    text-align: center;
}

.form-style section h5 {
    margin-bottom: 15px;
}

/* _____ form _____ */

/* boton puntual del form */
.form-style form button {
    margin-top: 15px;
    text-decoration: solid;
}

.form-style form label {
    font-weight: 500;
}

/* inputs del form */
.form-style form input {
    padding: 5px;
}

/* divs del form */
.form-style form div {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    gap: 4px;
}

/* inputs con error */

.input-normal {
    border-bottom-color: transparent;
    outline: none;
}

.input-error {
    animation: vibrar 0.2s ease;
    outline: 1px;
    border-bottom-color: red;
    border-radius: 5px;
}

/* estado FOCUS */
.input-focus {
    border-bottom-color: black;
}

/* estado BLUR */
.input-blur {
    border-bottom-color: transparent;
}

/* animacion */
@keyframes vibrar {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-4px);
    }
    50% {
        transform: translateX(4px);
    }
    75% {
        transform: translateX(-4px);
    }
    100% {
        transform: translateX(0);
    }
}

/* error oculto */

.oculto {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.errorEstilo {
    color: red;
    font-size: 8px;
}

/* ______________ Main ______________*/
main {
    /* background-color: rgb(226, 226, 226); */
    width: 100%;
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

/* ______________ Footer ______________*/
footer {
    /* background-color: #454545; */
    color: #fff;
    text-align: center;
    padding: 1rem;
}
/* ========================================= MEDIA QUERIES ====================================================== */

@media (max-width: 850px) {
    header {
        display: flex;
        flex-direction: column;
    }

    header .usuario-info {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .form-style section form {
        width: 250px;
    }
    #divTemaUsuario {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        gap: 15px;
        margin-right: 20px;
    }

    .div-selector-tema {
        margin-left: 20px;
    }
}

@media (max-width: 700px) {
    header {
        padding: 0.6rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    header .usuario-info {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    /* header del login */

    .header-login {
        flex-direction: column;
        gap: 40px;
    }

    .div-selector-tema {
        align-self: flex-start;
    }
}

@media (max-width: 560px) {
    header .div-logos {
        flex: auto;
        scale: 0.8;
    }

    header .div-logo {
        scale: 0.9;
    }
}

@media (max-width: 470px) {
    header .div-logo {
        flex: auto;
        scale: 0.8;
    }
}

@media (max-width: 425px) {
    header {
        padding: 0.5rem;
        justify-content: center;
        text-align: center;
    }

    header .div-logos {
        flex: auto;
        scale: 0.7;
    }

    header .div-logo {
        flex: auto;
        scale: 0.7;
    }

    .btn-alta {
        padding: 6px 11px;
        font-size: 13px;
    }
}

@media (max-width: 380px) {
    header {
        padding: 0.5rem;
        justify-content: center;
        text-align: center;
    }

    header .div-logo {
        flex: auto;
        scale: 0.65;
        gap: 1px;
    }

    header .usuario-info {
        scale: 0.7;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    header h1 {
        margin-right: 0px;
    }

    header div h2 {
        scale: 0.8;
        margin-top: 11px;
    }
    /* header del login */

    /* header .div-logo-login {
        scale: 0.6;
        display: flex;
        justify-content: center;
    } */
}

/* _______________________________________________________ */

.usuario-select {
    display: flex;
    flex-direction: row;

    position: relative;
    /* width: 150px; */
    cursor: pointer;
}

.usuario-header {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 2px;
    /* border: 1px solid #777; */
    /* border-radius: 4px; */
    font-size: 13px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.usuario-header img {
    width: 18px;
    height: 18px;
}

.usuario-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #777;
    background: white;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-right: 15px;
}

.usuario-menu:hover {
    background-color: rgb(255, 0, 0, 0.3);
}

.usuario-menu span {
    padding: 2px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    background-color: rgb(250, 250, 250, 0);
}

.oculto {
    visibility: hidden;
}

.cerrar-sesion-oscuro {
    background-color: black;
    color: white;
}

.cerrar-sesion-claro {
    color: black;
}
