<!DOCTYPE html>
<html lang="es">
    <%- include("../layouts/head", { tituloHead }) %>
    <body>
        <!-- header -->
        <%- include("../layouts/header") %>

        <!-- main -->
        <main id="loginMain" class="main">
            <div id="loginDivContainer">
                <h2>Iniciar sesión</h2>

                <form id="loginForm" class="login-form" novalidate>
                    <div id="divLabel-Inputs">
                        <label>Email:</label>
                        <input placeholder="Ingrese el mail..." id="email" type="email" name="email" required />
                    </div>

                    <div id="divLabel-Inputs">
                        <label>Contraseña:</label>
                        <input placeholder="Ingrese la contraseña..." id="password" type="password" name="password" required />
                    </div>

                    <button id="btnIngresar" type="submit">Ingresar</button>
                </form>
                <button id="btnRegistrarse">Registrarse</button>
            </div>
        </main>

        <!-- footer -->
        <%- include("../layouts/footer") %>

        <script type="module" src="/js/login.js"></script>
    </body>
</html>
