<!DOCTYPE html>
<html lang="es">
    <%- include("../layouts/head", { tituloHead }) %>
    <body>
        <!-- header -->
        <%- include("../layouts/header") %>

        <!-- main -->
        <main class="form-style">
            <section>
                <h2>Iniciar sesión</h2>

                <form id="loginForm" novalidate>
                    <div>
                        <label>Email:</label>
                        <input id="inputEmail" type="email" name="email" required />
                    </div>

                    <div>
                        <label>Contraseña:</label>
                        <input id="inputPassword" type="password" name="password" required />
                    </div>

                    <button id="btnIngresar" type="submit">Ingresar</button>
                </form>
                <button id="btnRegistrarse">Registrarse</button>
            </section>
        </main>

        <!-- footer -->
        <%- include("../layouts/footer") %>

        <script type="module" src="/js/login.js"></script>
    </body>
</html>
