<!DOCTYPE html>
<html lang="es">
    <%- include("../layouts/head", { tituloHead }) %>
    <body>
        <!-- header -->
        <%- include("../layouts/header") %>

        <!-- main -->
        <main class="form-style">
            <section>
                <h2>Registro</h2>

                <form id="registroForm" novalidate>
                    <div>
                        <label>Nombre:</label>
                        <input placeholder="Ingrese su nombre" id="inputNombre" type="nombre" name="nombre" required />
                    </div>

                    <div>
                        <label>Email:</label>
                        <input placeholder="Ingrese un email" id="inputEmail" type="email" name="email" required />
                    </div>

                    <div>
                        <label>Contraseña:</label>
                        <input placeholder="Ingrese una contraseña" id="inputPassword" type="password" name="password" required />
                    </div>

                    <button id="btnAceptarRegistro" type="submit">Ingresar</button>
                </form>
                <button id="btnVolver">Volver</button>
            </section>
        </main>

        <!-- footer -->
        <%- include("../layouts/footer") %>

        <script type="module" src="/js/registro.js"></script>
    </body>
</html>
