/* ======================== GENERALES ============================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f7f7f7;
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.linea {
    flex: 1;
    height: 5px;
    background-color: #cacaca;
}

/*______________ Header ______________*/
header {
    background-color: #222;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header img.logo {
    height: 60px;
}

header h1 {
    flex: 1;
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 1rem;
    margin-right: 1rem;
    background: linear-gradient(to top, #bd1d07, #e5e531);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

header .div-selector-tema {
    margin-right: 80px;
    margin-left: 15px;
}

header select {
    width: auto;
    border: none;
    background-color: #302f2f;
    color: white;
    cursor: pointer;
}

header label {
    font-size: 1rem;
}

header select {
    font-size: 1rem;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.888);
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
}

nav a:hover {
    text-decoration: underline;
}

/* ______________ Main (Claro) ______________*/
main.claro {
    background-color: #dfdfdf;
    width: 100%;
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ______________ Main (Oscuro) ______________*/
main.oscuro {
    background-color: #3a3a3a;
    width: 100%;
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* botones */
button {
    background-color: #fd7b25;
    color: #fff;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #d75702;
}

/* inputs */
input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    width: 100%;
}

/* ______________ Footer ______________*/
footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* ============================ PAG INDEX ============================ */

main h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    max-width: 400px;
}

#nombreUsuario {
    max-width: 300px;
}

#btnContinuar {
    margin-top: 1rem;
    width: 150px;
}

/* ============================ PAG PRODUCTOS ============================ */

.productos-grid {
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
}

@media (max-width: 1200px) {
    .productos-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .productos-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .productos-grid {
        grid-template-columns: 1fr;
    }
}

#pagNum {
    color: #fd7b25;
}

/* producto-carta (claro)________________ */
.producto-carta-claro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to top, #eddab9, #ffffff);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s, box-shadow 0.2s;
}

.producto-carta-claro:hover {
    transform: translateY(-4px);
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.6);
}

.producto-carta-claro img {
    flex: 1;
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 0.8rem;
}

.producto-carta-claro h3 {
    font-weight: 300;
    font-size: 1.1rem;
    margin: 0.4rem 0;
}

.producto-carta-claro p {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.producto-carta-claro button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

/* producto-carta (oscuro)________________ */
.producto-carta-oscuro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to top, #000000, #6e6e6e);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s, box-shadow 0.2s;
}

.producto-carta-oscuro:hover {
    transform: translateY(-4px);
    box-shadow: 0px 7px 12px rgba(246, 159, 71, 0.6);
}

.producto-carta-oscuro img {
    flex: 1;
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 0.8rem;
}

.producto-carta-oscuro h3 {
    font-weight: 300;
    font-size: 1.1rem;
    margin: 0.4rem 0;
    color: white;
}

.producto-carta-oscuro p {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
}

.producto-carta-oscuro button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: black;
}

/*______________ botones categorias ______________*/

.categorias {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.categorias button {
    width: 120px;
    background-color: #5f5f5f;
}

.categorias button:hover {
    background-color: #000000;
    transform: scale(1.05);
}

/*______________ botones paginacion ______________ */

.paginacion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.paginacion button {
    background-color: #5f5f5f;
    padding: 0.5rem 1rem;
}

.paginacion button:hover {
    background-color: #000000;
    padding: 0.5rem 1rem;
    transform: scale(1.05);
}

/* ============================ PAGINA CARRITO ============================ */

.detalle-total {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
}

.detalle-productos-compra {
    font-size: 15px;
    font-weight: 300;
    margin-top: 5px;
}

.productos-grid-carrito {
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    grid-template-columns: repeat(4, 0.5fr);
    align-content: center;
}

#btnFinalizar {
    margin-top: 15px;
}

/* ______________ modal confirmacion de compra ______________ */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
    background-color: #fff;
    margin: 15% auto;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.cerrar-modal {
    color: #aaa;
    position: absolute;
    top: -5px;
    right: 6px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar-modal:hover {
    color: #000;
}

.modal-botones {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.modal-botones button {
    width: 70px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-botones button:hover {
    opacity: 0.8;
}

#confirmCompra {
    background-color: #28a745;
    color: #fff;
}

#cancelCompra {
    background-color: #dc3545;
    color: #fff;
}

/* ============================ PAGINA TICKET  ============================ */

.producto-card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.producto-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.producto-card p {
    margin: 4px 0;
    font-size: 15px;
    color: #555;
}

.nombre-producto {
    margin-bottom: 8px;
    font-size: 15px;
    color: #333;
    font-weight: bold;
}
