/* ======================== GENERALES ============================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #f7f7f7;
    color: #333;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
}

.linea {
    flex: 1;
    height: 2px;
    background-color: #636363;
}

/*______________ Header ______________*/
header {
    /* background-color: #a1a1a1; */
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* _____ temas _____  */
/* oscuro */
.header-oscuro {
    background: linear-gradient(to top, #2f2f2f 1%, #272626 2%, #151515 3%, #000000 90%);
}

.header-oscuro nav a {
    color: rgb(255, 255, 255);
}

.header-oscuro select {
    color: white;
}

/* claro */
.header-claro {
    background: linear-gradient(to top, #aeaeae 1%, #c9c8c8 2%, #e6e6e6 3%, #ffffff 90%);
    /* background-color: white; */
}

.header-claro nav a {
    color: black;
}

.header-claro .div-tema-nav {
    color: black;
}

.header-claro select {
    background-color: white;
}

.header-claro .div-selector-tema {
    color: black;
}

.header-claro h1 {
    /* -webkit-text-stroke: 0.5px black; */
}

/* --- */
.div-logo-riffhouse {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.div-logo-riffhouse h1 {
    margin-top: 5px;
}

header img.logo {
    height: 60px;
}

header h1 {
    flex: 1;
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 1rem;
    margin-right: 1rem;
    background: linear-gradient(to top, #bd1d07, #e5e531);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.div-tema-nav {
    margin-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header .div-selector-tema {
    margin-right: 20px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4px;
}

header select {
    width: auto;
    border: none;
    background-color: #302f2f;
    /* color: white; */
    cursor: pointer;
}

header label {
    font-size: 1rem;
}

header select {
    font-size: 1rem;
}

nav {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    /* color: rgba(255, 255, 255, 0.888); */
    font-family: "Rubik Wet Paint", system-ui;
    font-weight: 400;
    font-style: normal;
}

nav a:hover {
    text-decoration: underline;
}

/* ______________ Main (Claro) ______________*/
main.claro {
    background-image: url("../img/logo/pared-de-ladrillo-blanca.jpg");
    background-size: cover;
    /* background-color: #dfdfdf; */
    width: 100%;
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow-x: auto; */
}

/* ______________ Main (Oscuro) ______________*/
main.oscuro {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/logo/fondo-ladrillos-negros.jpg");
    background-size: cover;
    width: 100%;
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* botones */
button {
    background-color: #fd7b25;
    color: #fff;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #d75702;
}

/* inputs */
input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    width: 100%;
}

.form-ingreso {
    width: 100%;
    /* flex: 1; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ______________ Footer ______________*/
footer {
    color: #fff;
    text-align: center;
    padding: 1rem;
}
.footer-oscuro {
    background: linear-gradient(to bottom, #2f2f2f 2%, #272626 3%, #151515 4%, #000000 90%);
}

.footer-claro {
    background: linear-gradient(to bottom, #aeaeae 2%, #c9c8c8 3%, #e6e6e6 4%, #ffffff 90%);
}

.footer-claro p {
    color: black;
}

/* ============================ PAG INDEX ============================ */

main h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    max-width: 400px;
}

.inputNombreClienteNormal {
    max-width: 300px;
}

.inputNombreClienteError {
    max-width: 300px;
    animation: vibrar 0.2s ease;
    outline: 1px;
    border: solid 1.5px red;
    border-radius: 5px;
}

/* animacion */
@keyframes vibrar {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-5px);
    }
    40% {
        transform: translateX(5px);
    }
    60% {
        transform: translateX(-5px);
    }
    80% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

#btnContinuar {
    margin-top: 1rem;
    width: 150px;
}

/* ============================ PAG PRODUCTOS ============================ */

.productos-grid {
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
}

@media (max-width: 1200px) {
    .productos-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .productos-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .productos-grid {
        grid-template-columns: 1fr;
    }
}

#pagNum {
    color: #fd7b25;
}

/* producto-carta (claro)________________ */
.producto-carta-claro {
    border: solid 0.5px rgb(155, 155, 155);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: radial-gradient(ellipse at center 20%, rgba(98, 95, 92, 0.6) 0%, rgba(204, 201, 200, 0.7) 40%, rgba(255, 255, 255, 0.8) 70%);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s, box-shadow 0.2s;
}

.producto-carta-claro:hover {
    transform: translateY(-4px);
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.6);
}

.producto-carta-claro img.producto {
    flex: 1;
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 0.8rem;
}

.producto-carta-claro h3 {
    font-weight: 300;
    font-size: 1.1rem;
    margin: 0.4rem 0;
}

.producto-carta-claro p {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.producto-carta-claro button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.div-marca-modelo {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.icono-basura {
    color: #000000;
    position: absolute;
    top: -234px;
    right: -236px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

    transform: scale(0.05);
    transition: transform 0.2s;
}

.icono-basura:hover {
    transform: scale(0.06);
}

/* producto-carta (oscuro)________________ */
.producto-carta-oscuro {
    border: solid 0.5px rgb(49, 49, 49);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: radial-gradient(ellipse at center 20%, rgba(90, 0, 0, 0.8) 0%, rgba(40, 0, 0, 0.7) 30%, rgba(0, 0, 0, 0.9) 70%);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s, box-shadow 0.2s;
}

.producto-carta-oscuro:hover {
    transform: translateY(-4px);
    box-shadow: 0px 7px 12px rgba(246, 159, 71, 0.6);
}

.producto-carta-oscuro img.producto {
    flex: 1;
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 0.8rem;
}

.producto-carta-oscuro h3 {
    font-weight: 300;
    font-size: 1.1rem;
    margin: 0.4rem 0;
    color: white;
}

.producto-carta-oscuro p {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
}

.producto-carta-oscuro button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
}

/*______________ botones categorias ______________*/

.categorias {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.categorias button {
    width: 120px;
    /* background-color: rgb(87, 87, 87, 0.75); */
}

main.claro .categorias button,
main.claro .paginacion button {
    background-color: rgba(147, 147, 147, 0.5);
    color: black;
}

main.oscuro .categorias button,
main.oscuro .paginacion button {
    background-color: rgb(87, 87, 87, 0.4);
    color: white;
}

main.claro .categorias button:hover,
main.claro .paginacion button:hover {
    background-color: rgba(93, 93, 93, 0.5);
    transform: scale(1.05);
}

main.oscuro .categorias button:hover,
main.oscuro .paginacion button:hover {
    background-color: rgba(107, 107, 107, 0.4);
    transform: scale(1.05);
}

/* .categorias button:hover {
    background-color: #000000;
    transform: scale(1.05);
} */

/* botones de agregar-quitar del carrito */
.btn-agregado {
    background-color: #787878ff;
    pointer-events: none;
}

.btn-agregado:hover {
    background-color: #787878ff;
}

.btn-normal {
    background-color: #fd7b25;
}

.btn-normal:hover {
    background-color: #d75702;
}

/*______________ botones paginacion ______________ */

.paginacion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.paginacion button {
    background-color: rgb(87, 87, 87, 0.75);
    padding: 0.5rem 1rem;
    width: 100px;
}

.paginacion button:hover {
    background-color: #000000;
    padding: 0.5rem 1rem;
    transform: scale(1.05);
}

/* ============================ PAGINA CARRITO ============================ */

.detalle-total {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
    width: 100%;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
}

.detalle-productos-compra {
    font-size: 15px;
    font-weight: 300;
    margin-top: 5px;
}

.productos-grid-carrito {
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1200px) {
    .productos-grid-carrito {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .productos-grid-carrito {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .productos-grid-carrito {
        grid-template-columns: 1fr;
    }
}

#btnFinalizar {
    margin-top: 15px;
}

/* ______________ modal confirmacion de compra ______________ */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-container {
    background-color: #fff;
    margin: 15% auto;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.cerrar-modal {
    color: #aaa;
    position: absolute;
    top: -5px;
    right: 6px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar-modal:hover {
    color: #000;
}

.modal-botones {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.modal-botones button {
    width: 70px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-botones button:hover {
    opacity: 0.8;
}

#confirmCompra {
    background-color: #28a745;
    color: #fff;
}

#cancelCompra {
    background-color: #dc3545;
    color: #fff;
}

/* ============================ PAGINA TICKET  ============================ */

main.oscuro .producto-card:hover {
    /* box-shadow: 0 2px 4px rgba(234, 160, 75, 0.1); */
    box-shadow: 0px 7px 12px rgba(246, 159, 71, 0.6);
}

main.claro .producto-card:hover {
    box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.6);
}

.producto-card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    overflow-x: auto;
}

.producto-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.producto-card p {
    margin: 4px 0;
    font-size: 15px;
    color: #555;
}

.nombre-producto {
    margin-bottom: 8px;
    font-size: 15px;
    color: #333;
}

/* tabla ticket productos */

.tabla-productos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
}

.tabla-productos th,
.tabla-productos td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.tabla-productos th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.fuente-nombre-empresa-ticket {
    display: block;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}

.div-total-ticket {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.div-linea {
    height: 2px;
    width: 100%;
    background-color: black;
    margin-top: 15px;
}

/* ____________ boton ingresar como admin __________ */

#btnPantallaAdmin {
    background-color: #fd7b25;
    width: 350px;
    scale: 0.7;
    margin-top: 100px;
}

#btnPantallaAdmin:hover {
    background-color: #d75702;
}

/* ================================================================= */

/* ==================== MEDIA QUERIES CELULAR ==================== */

@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    header img.logo {
        height: 80px;
        margin-bottom: 0.5rem;
    }

    .div-logo-riffhouse {
        gap: 18px;
    }

    header h1 {
        font-size: 2.5rem;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    header .div-tema-nav {
        justify-content: space-between;
        width: 100%;
    }
}

@media (max-width: 465px) {
    /* ===== generales ===== */

    .div-logo-riffhouse {
        gap: 15px;
    }

    .linea {
        height: 3px;
    }

    /* ===== header ===== */
    header {
        flex-direction: column;
        align-items: center;
    }

    header img.logo {
        height: 65px;
        margin-bottom: 0.5rem;
    }

    header h1 {
        font-size: 2rem;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    header .div-selector-tema {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        width: auto;

        align-self: flex-start;
        margin-left: 0;
    }

    header label {
        font-size: 1rem;
    }

    header select {
        width: 100%;
        font-size: 0.9rem;
    }

    nav a {
        margin-left: 20px;
        font-size: 0.9rem;
    }
}

@media (max-width: 340px) {
    header img.logo {
        height: 50px;
        margin-bottom: 0.5rem;
    }

    header h1 {
        font-size: 1.5rem;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    .producto-card {
        width: 250px;
    }

    .tabla-productos {
        overflow-x: auto;
    }
}
